
body {
    margin: 0;
}

.div-master-container {   
}

.div-head-bar {
    background-color: rgba(255,255,255,.8);
    height: 35px;
    filter: blur(10px);
}

#div-address-bar {
    height: 30px;
    position: relative;
    top: 2.5px;
}

.div-home {
    border-radius:  3px 3px 3px 3px;
    cursor: pointer;
    float: left;
    margin-left: 40px;
    width: 30px;
}
.div-home:hover {
    background-color: rgb(245,245,245);
    box-shadow: 1px 1px 1px 0px rgba(90,90,90,1);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,230,230,1) 100%);
}

#img-home-icon {
    height: 30px;
    vertical-align: middle;
    width: 30px;
}

.div-ad-bar-element {
    float: left;
    height: 30px;
}

.div-ad-bar-seperator {
    float: left;
    height: 30px;
    margin-left: 5px;
    width: 15px;
}

.span-ad-bar-seperator {
    color: rgba(45, 45, 45, 0.5);
    cursor: default;
    font-size: .8em;
    position: relative;
    text-shadow: 0 1px 0 rgb(243, 243, 243);
    top: 9px;
}

.div-ad-bar-folder {
    float: left;
    height: 30px;
    margin-left: 3px;
    margin-right: 3px;
}

.span-ad-bar-folder {
    color: rgba(36, 36, 36, 0.8);
    cursor: pointer;
    display: inline-block;
    font-family: verdana, sans-serif;
    font-size: .8em;
    font-weight: 700;
    max-width: 200px;
    min-width: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    text-shadow: 0 1px 0 rgb(236, 236, 236);
    top: 11px;
    white-space: nowrap;
}
.span-ad-bar-folder:hover {
    color: rgba(22, 7, 192, 0.8);
}

.div-contents {
    overflow: auto;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    
}

.div-thumbnail {
    /*border:  1px solid rgba(255,255,255,0); /*to make border transparent*/
    border-radius:  8px 8px 8px 8px;
    cursor: pointer;
    float: left;
    height: 130px;
    margin: 15px;   
    transition: background-color .6s ease;
    width: 110px;
    -moz-border-radius:  8px 8px 8px 8px;
    -webkit-border-radius:  8px 8px 8px 8px;

}

.div-thumbnail:hover {
    background-color: rgba(255,255,255,.3);
    /*border: 1px rgba(255,255,255,.5);*/  
}


.div-thumbnail-droppable {   /*to hightilgh when an element is dragged over to the icon*/
    background-color: rgba(255,255,255,.7);
    border-radius:  8px 8px 8px 8px;
    float: left;
    height: 130px;
    margin: 15px;   
    width: 110px;
    -moz-border-radius:  8px 8px 8px 8px;
    -webkit-border-radius:  8px 8px 8px 8px;   
}

.div-thumbnail-icon {
    border:  0px;
    height: 105px;
    width: 108px;
}


.img-thumbnail-folder-icon {
    height:  110px;
    width:  107px;
}

.img-thumbnail-file-icon {
    height:  110px; 
    width:  107px;
}

.div-thumbnail-desc {
    margin-top: 5px;
    text-align: center;
}

.span-thumbnail-desc {
    color: rgb(238, 238, 238);
    display: inline-block;
    font-family: verdana, sans-serif;
    font-size: .9em;
    height: 20px;
    overflow: hidden;
    text-align: center;
    text-overflow:  ellipsis;  /* for dotted lines to indicated hidden text*/
    text-shadow: rgba(0, 0, 0, 0.8) 0 0 3px;
    width: 108px;    
    white-space: nowrap;
}

#ul-wspace-right-click-menu {
    position: fixed;
    display: none;
    width: 120px;
}

#ul-icon-right-click-menu {
    position: fixed;
    display: none;
    width: 120px;
}


.ui-menu {
    width: 110px;
}

#tbox-icon-rename{
    text-align: center;
    width: 100px;    
}
